# Hotel Booking Cancallation Prediction

**Load Data**

Load Hotel_Booking/hotel_bookings.csv file provided on Brightspace.

In [1]:
import pandas as pd

In [2]:
# <<< Your code here >>>

bookings_data = pd.read_csv('hotel_bookings.csv')

# 1. Data Pre-processing (25%)


---

**Drop irrelevant columns**

It will significantly reduce the time and effort you need to invest. As a general guideline, columns containing IDs, dates, or irrelevant information are typically considered redundant and offer little value for predictive analysis.

In [3]:
# <<< Your code here >>>
bookings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [4]:
bookings_data.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

Columns to drop:

- Arrival_Date_Year 
- Arrival_Date_Week

In [5]:
bookings_data = bookings_data.drop(columns=['country','reservation_status_date','reservation_status','arrival_date_day_of_month','arrival_date_week_number','arrival_date_year','arrival_date_month'],axis=1)
bookings_data

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,market_segment,...,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,Resort Hotel,0,342,0,0,2,0.0,0,BB,Direct,...,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0
1,Resort Hotel,0,737,0,0,2,0.0,0,BB,Direct,...,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0
2,Resort Hotel,0,7,0,1,1,0.0,0,BB,Direct,...,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0
3,Resort Hotel,0,13,0,1,1,0.0,0,BB,Corporate,...,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0
4,Resort Hotel,0,14,0,2,2,0.0,0,BB,Online TA,...,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2,5,2,0.0,0,BB,Offline TA/TO,...,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0
119386,City Hotel,0,102,2,5,3,0.0,0,BB,Online TA,...,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2
119387,City Hotel,0,34,2,5,2,0.0,0,BB,Online TA,...,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4
119388,City Hotel,0,109,2,5,2,0.0,0,BB,Online TA,...,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0
119389,City Hotel,0,205,2,7,2,0.0,0,HB,Online TA,...,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2

## 1.1 Missing Values (10%)

Identify and handle missing values.

In [6]:
# <<< Your code here >>>

bookings_data.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
dtype: int64

In [7]:
bookings_data = bookings_data.drop(columns=['agent','company'],axis=1)

## Unique values

Find out unique values in columns. This will help you in identifying in-consistent data.

In [8]:
# <<< Your code here >>>
bookings_data[['hotel','is_canceled']].value_counts()

hotel         is_canceled
City Hotel    0              46228
              1              33102
Resort Hotel  0              28938
              1              11122
Name: count, dtype: int64

In [9]:
bookings_data['meal'].value_counts()

meal
BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: count, dtype: int64

In [10]:
bookings_data.market_segment.value_counts()

market_segment
Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: count, dtype: int64

In [11]:
bookings_data.distribution_channel.value_counts()

distribution_channel
TA/TO        97870
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: count, dtype: int64

In [12]:
bookings_data.reserved_room_type.value_counts()

reserved_room_type
A    85994
D    19201
E     6535
F     2897
G     2094
B     1118
C      932
H      601
P       12
L        6
Name: count, dtype: int64

In [13]:
bookings_data.assigned_room_type.value_counts()

assigned_room_type
A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: count, dtype: int64

In [14]:
bookings_data.deposit_type.value_counts()

deposit_type
No Deposit    104641
Non Refund     14587
Refundable       162
Name: count, dtype: int64

In [15]:
bookings_data.customer_type.value_counts()

customer_type
Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: count, dtype: int64

## 1.2 Removing Inconsistent values and Outliers (10%)

Detecting inconsistencies can be achieved through a variety of methods. Some can be identified by examining unique values within each column, while others may require a solid understanding of the problem domain. Since you might not be an expert in the hotel or hospitality industry, here are some helpful hints:

Hints:

1. Check for incomplete bookings, such as reservations with zero adults, babies, or children.
2. Examine rows with zeros in both 'stays_in_weekend_nights' and 'stays_in_week_nights.'

In [16]:
bookings_data = bookings_data.drop(bookings_data[bookings_data['adults'] == 0].index)

In [17]:
bookings_data = bookings_data.drop(bookings_data[(bookings_data['stays_in_weekend_nights'] == 0) & (bookings_data['stays_in_week_nights'] == 0)].index)

In [ ]:
# After dropping all these columns an index reset is needed
bookings_data.reset_index(drop=True, inplace=True)

## 1.3 Column data type conversion (5%)

All necessary columns should be correctly converted to appropriate data types.

To analyse data and use it to do an analysis e need to change the data from categoprical to nuerical type

In [18]:
# <<< Your code here >>>

bookings_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118342 entries, 2 to 119389
Data columns (total 23 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118342 non-null  object
 1   is_canceled                     118342 non-null  int64
 2   lead_time                       118342 non-null  int64
 3   stays_in_weekend_nights         118342 non-null  int64
 4   stays_in_week_nights            118342 non-null  int64
 5   adults                          118342 non-null  int64
 6   children                        118338 non-null  float64
 7   babies                          118342 non-null  int64
 8   meal                            118342 non-null  object
 9   market_segment                  118342 non-null  object
 10  distribution_channel            118342 non-null  object
 11  is_repeated_guest               118342 non-null  int64
 12  previous_cancellations          118342 non-null  int64
 13  previous_bookings_not_canceled  118342 non-null  int64
 14  reserved_room_type              118342 non-null  object
 15  assigned_room_type              118342 non-null  object
 16  booking_changes                 118342 non-null  int64
 17  deposit_type                    118342 non-null  object
 18  days_in_waiting_list            118342 non-null  int64
 19  customer_type                   118342 non-null  object
 20  adr                             118342 non-null  float64
 21  required_car_parking_spaces     118342 non-null  int64
 22  total_of_special_requests       118342 non-null  int64
dtypes: float64(2), int64(13), object(8)
memory usage: 21.7+ MB

In [33]:
# Using replace, manual handling

bookings_data['hotel'] = bookings_data['hotel'].replace({'City Hotel' : 0, 'Resort Hotel': 1})
bookings_data.head(6)

/var/folders/yl/hc0wg3cd5577fyq8rq7spkx00000gn/T/ipykernel_71493/767469541.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  bookings_data['hotel'] = bookings_data['hotel'].replace({'City Hotel' : 0, 'Resort Hotel': 1})

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,market_segment,...,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
2,1,0,7,0,1,1,0.0,0,BB,Direct,...,0,A,C,0,No Deposit,0,Transient,75.0,0,0
3,1,0,13,0,1,1,0.0,0,BB,Corporate,...,0,A,A,0,No Deposit,0,Transient,75.0,0,0
4,1,0,14,0,2,2,0.0,0,BB,Online TA,...,0,A,A,0,No Deposit,0,Transient,98.0,0,1
5,1,0,14,0,2,2,0.0,0,BB,Online TA,...,0,A,A,0,No Deposit,0,Transient,98.0,0,1
6,1,0,0,0,2,2,0.0,0,BB,Direct,...,0,C,C,0,No Deposit,0,Transient,107.0,0,0
7,1,0,9,0,2,2,0.0,0,FB,Direct,...,0,C,C,0,No Deposit,0,Transient,103.0,0,1

# 2. Exploratory Data Analysis (25%)


---





You've also been provided with examples of valuable insights that could be of interest to hotel management, including:

* Calculating cancellation percentages for City and Resort hotels.
* Identifying the most frequently ordered meal types.
* Determining the number of returning guests.
* Discovering the most booked room types.
* Exploring correlations between room types and cancellations.


Visualize these insights using three different types of visualizations covered in the practicals, such as:

* Bar graphs
* Pie charts
* Line charts
* Heatmaps

## 2.1. Calculating cancellation percentages for City and Resort hotels.

In [20]:
# <<< Your code here >>>

## 2.2. Identifying the most frequently ordered meal types.

In [21]:
# <<< Your code here >>>

## 2.3. Determining the number of returning guests.

In [22]:
# <<< Your code here >>>

## 2.4. Discovering the most booked room types.

In [23]:
# <<< Your code here >>>

## 2.5. Exploring correlations between room types and cancellations.

In [24]:
# <<< Your code here >>>

# 3. Feature Engineering (20%)


---





Apply various feature engineering techniques, covered in the lectures and practicals.

Hint:
* Binning
* Encoding
* Scaling
* Feature selection

## 3.1. Binning

In [25]:
# <<< Your code here >>>

## 3.2. Encoding

In [26]:
# <<< Your code here >>>

## 3.3. Scaling

In [27]:
# <<< Your code here >>>

## 3.4. Feature selection

In [28]:
# <<< Your code here >>>

# 4. Classifier Training (20%)


---


Utilise the sklearn Python library to train a ML model (e.g.decision tree classifier). Your process should start with splitting your dataset into input features (X) and a target feature (y). Next, divide the data into 70% training and 30% testing subsets. Train your model on the training dataset and evaluate using test dataset with appropriate metrics. Aim to achieve higher accuracy e.g. more than 70% accuracy using your model.

## 4.1. Data Splitting (5%)

In [29]:
# <<< Your code here >>>

## 4.2. Model Training (10%)

In [30]:
# <<< Your code here >>>

## 4.3. Model Evaluation (5%)

In [31]:
# <<< Your code here >>>

# 5. Feature Importance (10%)


---

Assess the importance of features within your decision tree model. Provide commentary on the reliability of your model's results based on the feature importance scores.

In [32]:
# <<< Your code here >>>