Session Start

Import Pandas Library into the system

In [15]:
import pandas as pd

In [16]:
# we can set numbers for how many rows and columns will be displayed
pd.set_option('display.min_rows', 10) #default will be 10 
pd.set_option('display.max_columns', 20)

Creating a DataFrame

In [17]:
my_dataframe = {

    'brands' : ['Nike', 'Adidas', 'Puma', 'Hugo Boss', 'Skechers'],
    'rating' : [9, 7, 3, 10, 8],
    'worth' : [True, True, False, True, False]

}

In [5]:
dataframe = pd.DataFrame(my_dataframe)

print(dataframe)

      brands  rating  worth
0       Nike       9   True
1     Adidas       7   True
2       Puma       3  False
3  Hugo Boss      10   True
4   Skechers       8  False

In [6]:
print(dataframe.loc[[0,1]])

   brands  rating  worth
0    Nike       9   True
1  Adidas       7   True

Working with columns

In [18]:
print(dataframe.columns) # display all columns
print(dataframe.columns[0]) # Display n cloumn
dataframe.rename(columns={'worth' : 'Buy'},inplace=True) # Rename a columns

Index(['brands', 'rating', 'Buy'], dtype='object')
brands

Deleting or selecting rows by values in a column

In [25]:
df = pd.read_csv('./online_store_customer_data.csv')
temporary_dataframe = df[df['Marital_status'] == 'Single']
print(temporary_dataframe.head())

  Transaction_date  Transaction_ID  Gender   Age Marital_status  State_names  \
0         1/1/2019          151200  Female  19.0         Single       Kansas
1         1/1/2019          151201    Male  49.0         Single     Illinois
3         1/1/2019          151203     NaN  18.0         Single     Virginia
4         1/1/2019          151204    Male  27.0         Single  Connecticut
5         1/3/2019          151205    Male  71.0         Single       Hawaii

    Segment Employees_status Payment_method  Referal  Amount_spent
0     Basic     Unemployment          Other      1.0       2051.36
1     Basic    self-employed           Card      0.0        544.04
3  Platinum          workers           Card      1.0       1199.79
4     Basic    self-employed           Card      0.0           NaN
5     Basic        Employees         PayPal      1.0       2922.66